<link rel="shortcut icon" type="image/png" href="img/favicon.png">
<meta charset="utf-8">
<title>Правда или Действие</title>
<link rel="stylesheet" href="css/app.css">
<meta name="HandheldFriendly" content="True">
<meta name="description" content="Правда или Действия игра для компании друзей, она не даст вам заскучать, а разнообразие вопросов и действий будет увлекать, удивлять и давать шанс узнать друг друга поближе.">
<meta name="keywords" content="игра, компания, игра для компании друзей, правда, действие, фанты, правда или действие, поиграть с друзьями, правда или действие играть онлайн на компьютере, правда или действие 16+, правда или действие 18+, правда или действие 21+">
<meta property="og:title" content="Правда или Действие">
<meta property="og:url" content="http://truthoraction.com">
<meta property="og:image" content="img/avatar.png">
<meta property="og:locale" content="RU_ru">
<meta property="og:description" content="Правда или Действия игра для компании друзей, она не даст вам заскучать, а разнообразие вопросов и действий будет увлекать, удивлять и давать шанс узнать друг друга поближе.">
<meta property="og:site_name" content="truthoraction.com">
<link rel="apple-touch-startup-image" href="img/touch-icon-ipad-retina.png">
<link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">