@import 'preloader';
@import 'modal';
@import 'sidebar';
@import 'game';
@import 'alert';
// gamestart
@import 'modals/players';
@import 'modals/rubrics';
@import 'modals/rules';
@import 'modals/settings';
@import 'modals/start';
@import 'modals/continue';
@import 'modals/card';
