@import 'modal';
@import 'sidebar';
@import 'game';
// gamestart
@import 'modals/player';
@import 'modals/players';
@import 'modals/rubrics';
@import 'modals/rules';
@import 'modals/settings';
@import 'modals/start';