.game {
	padding-top: 50px;
	@include size(100%);

	&_view {
		@include size(100%);
		position: relative;
	}

	&_views_buttons {
		@include clearfix();
	}

	&_header {
		position: absolute;
		left: 0;
		top: 0;
		@include size(100%, 50px);
		background-color: #9c27b0;
		@extend %shadow-2dp;
		padding-right: 50px;
	}

	&_players {
		overflow: auto;
		white-space: nowrap;
		height: 100%;
		text-align: center;
		padding: 0 10px;
	}

	&_players_wrapper {
		height: 100%;
	}

	&_player {
		height: 32px;
		position: relative;
		background-color: #fafafa;
		display: inline-block;
		line-height: normal;
		margin-top: 9px;
		margin-right: 10px;
		border-radius: 2px;
		@include clearfix();
		@extend %shadow-2dp;

		&:last-child {
			margin-right: 0;
		}
	}

	&_player_icon {
		float: left;
		line-height: 32px;
		height: 100%;
		position: relative;
		width: 30px;

		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			fill: #333;
		}

		@include media ('<tablet') {
			width: 20px;

			svg {
				@include size(15px);
			}
		}
	}

	&_player_name {
		float: left;
		padding-right: 7px;
		line-height: 32px;

		@include media ('<tablet') {
			padding-right: 4px;
			font-size: 12px;
		}
	}

	&_player_score {
		float: right;
		@include size(35px, 100%);
		text-align: center;
		color: #fafafa;
		line-height: 33px;

		@include media ('<tablet') {
			@include size(30px, 100%);
			font-size: 12px;
		}

		&.eq {
			background-color: #797777;
		}

		&.more {
			background-color: #43a047;
		}

		&.less {
			background-color: tomato;
		}
	}

	&_sidebar {
		position: absolute;
		right: 0;
		top: 0;
		@include size(200px, 100%);
		background-color: #252525;
		@extend %shadow-6dp;
		transform: translate(100%, 0);
		transition: transform .3s;
		will-change: transform;
		z-index: 10;

		&.opened {
			transform: translate(0, 0);
		}
	}

	&_sidebar_toggle {
		position: absolute;
		right: 0;
		top: 0;
		@include size(50px, 100%);
		padding-top: 2px;
		background-color: rgba(0, 0, 0, .15);
		cursor: pointer;
	}

	&_sidebar_toggle_dot {
		display: block;
		@include size(24px, 3px);
		background-color: #fff;
		margin: 9px auto 0;
	}

	&_sidebar_link {
		display: block;
		font-size: 14px;
		padding: 8px 12px;
		text-decoration: none;
		color: #fff;
		cursor: pointer;

		&:hover,
		&:focus {

		}
	}

	&_view_container {
		@include alignCenter();
		@include clearfix();

		@include media('<tablet') {
			top: 0;
			left: 0;
			transform: none;
			@include size(100%);
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}

	&_view_name {
		clear: both;
		display: block;
		text-align: center;
		margin-bottom: 10px;

		@include media('<tablet') {
			clear: none;
			margin: 0;
		}
	}

	&_view_inner-score {
		padding: 3px 6px;
		margin-left: 5px;
		color: #fff;

		&.eq {
			background-color: #797777;
		}

		&.more {
			background-color: #43a047;
		}

		&.less {
			background-color: tomato;
		}
	}

	&_view_inner-name {
		background-color: #fafafa;
		color: #222;
		padding: 12px;
		font-size: 22px;
		@extend %shadow-2dp;
		display: inline-block;

		@include media('<tablet') {
			display: block;
			font-size: 26px;
		}
	}

	&_view_buttons_separator {
		float: left;
		height: 80px;
		@include flex(center, center);
		font-size: 18px;
		padding: 0 10px;

		@include media('<tablet') {
			display: none;
		}
	}

	&_view_buttons {
		display: flex;
		flex: 2;
		flex-direction: column;
		align-items: stretch;
	}

	&_view_button {
		width: 120px;
		padding: 10px 30px;
		color: #fff;
		font-size: 20px;
		cursor: pointer;
		@include flex(center, center);
		flex-direction: column;

		&--truth {
			background-color: #3d9bff;
		}

		&--action {
			background-color: tomato;
		}

		svg {
			margin-top: 10px;
		}


		@include media('<tablet') {
			@include flex(center, center);
			flex-direction: column;
			@include size(auto);
			flex: 1;
			float: none;
			font-size: 24px;
		}
	}


}