
.modal {
	@include alignCenter();
	@include size(90%, 90%);
	@extend %shadow-6dp;
	background-color: #fafafa;
	max-width: 480px;
	max-height: 480px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&_content {
		padding: 12px;
		flex: 1;

		&--settings {
			overflow: auto;
		}
	}

	&_action {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-bottom: 12px;

		&--single {
			.button {
				margin: 0 auto;
			}
		}

		&--double {
			text-align: center;

			.button {
				display: inline-block;

				&:last-child {
					margin-left: 20px;
				}
			}
		}
	}

	&_title {
		color: #fafafa;
		font-size: 18px;
		padding: 12px;
		background-color: #9c27b0;
	}

	&_hint {
		font-size: 14px;
		line-height: 1.4em;

		@include media('height') {
			font-size: 12px;
			line-height: 1.2em;
		}
	}
}