
.modal {
	@include alignCenter();
	@include size(90%, 90%);
	background-color: #fafafa;
	max-width: 480px;
	max-height: 480px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&_shadow {
		@extend %shadow-6dp;
		@include alignCenter();
		@include size(90%, 90%);
		max-width: 480px;
		max-height: 480px;
	}

	&.inactive {
		left: 0;
	}

	&_content {
		padding: 12px;
		flex: 1;

		&--settings {
			overflow: auto;
		}
	}

	&_action {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-bottom: 12px;

		&--single {
			.button {
				margin: 0 auto;
			}
		}

		&--double {
			text-align: center;

			.button {
				display: inline-block;

				&:last-child {
					margin-left: 20px;
				}
			}
		}
	}

	&_title {
		color: #fafafa;
		font-size: 18px;
		padding: 12px;
		background-color: $purple;
	}

	&_hint {
		font-size: 14px;
		line-height: 1.4em;

		@include media('height') {
			font-size: 12px;
			line-height: 1.2em;
		}
	}
}


@for $i from 1 through 4 {
	.modal:nth-child(#{$i}) {
		// top: 50% + $i;
		// left: 50% + $i/2;
		z-index: decimal-round(12 / $i);
		// box-shadow: none; 
	}
}