.preloader {
	position: absolute;
	left: 0;
	top: 0;
	@include size(100%);
	background-color: $purple;
	z-index: 10;

	&_text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding-top: 80px;
		margin-left: 5px;
		font-size: 18px;
		color: #fff;
	}
}

.circular {

	@include size(90px);
	@include alignCenter();

}

.spin {
	background-color: transparent;
	width:	10px;
	height: 10px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -5px;
	margin-top: -5px;
	border-radius: 100%;
	box-shadow:
		 12px -12px hsla(0, 0%, 100%, 0.125),
		 17px 0 hsla(0, 0%, 100%, 0.250),
		 12px 12px hsla(0, 0%, 100%, 0.375),
		 0 17px hsla(0, 0%, 100%, 0.500),
		 -12px 12px hsla(0, 0%, 100%, 0.625),
		 -17px 0 hsla(0, 0%, 100%, 0.750),
		 -12px -12px hsla(0, 0%, 100%, 0.875),
		 0 -17px hsla(0, 0%, 100%, 1.000);
	animation: clockwise 0.75s steps(8, end) infinite;
}

@keyframes clockwise
{
	to {transform: rotate(360deg) translatez(0);}
}