.rules {
	overflow: auto;


	&_content {
		line-height: 1.4em;

		strong {
			padding: 3px;
			color: #fff;
			font-weight: 400;
		}

		p {
			padding-bottom: 10px;

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	&_all {
		background-color: $cardYellow;
		color: #000 !important;
	}

	&_hidden {
		background-color: $cardGray;
	}

	&_special {
		background-color: $cardSpecial;
	}
}