
.settings {
	@include clearfix();
	@include size(100%, 45px);
	margin-top: 15px;

	&_name {
		float: left;
		@include size(35%, 100%);
		display: flex;
		align-items: center;

		@include media ('<tablet') {
			font-size: 12px;
		}
	}

	&_cards {
		@include media ('<tablet') {
			.settings_switcher_element {
				font-size: 12px;
			}
		}
	}

	&_switcher {
		float: left;
		@include size(65%, 100%);
		@extend %shadow-2dp;
		position: relative;
	}

	&_switcher_input {
		position: absolute;
		left: -9999px;

		&:checked + label {
			color: #fff;
		}

		&[type="checkbox"] + label {
			background-color: #fff;
			transition: background-color .3s;
			will-change: background-color;
			transform: trnanslate3d(0, 0, 0);
		}

		&[type="checkbox"]:checked + label {
			background-color: #9c27b0;
		}
	}

	&_switcher_element  {
		color: #000;
		height: 100%;
		transition: color .3s;
		font-size: 14px;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;
	}

	&_switcher_toggler {
		height: 100%;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		background-color: #9c27b0;
		transform: translate3d(0, 0, 0);
		transition: transform .3s;
		will-change: transform;
	}
}

@for $i from 2 through 5 {
	.settings_switcher--x#{$i} {

		.settings_switcher_element,
		.settings_switcher_toggler {
			width: 100% / $i;
		}

		@for $v from 0 through 3 {
			input[type="radio"]:nth-of-type(#{$v + 1}):checked ~ .settings_switcher_toggler {
				transform: translate3d((100% / $i) * ($v * $i), 0, 0);
			}
		}
	}
}