.rubrics {
	@extend %shadow-2dp;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 15px;

	&_input {
		
	}

	&_label {
		flex: 1;
		cursor: pointer;
	}

	&_text {
		font-size: 18px;
	}

}

.modal_rubrics {

	.modal_content {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}