// Config Settings Import
// Change values in _config.scss
@if $borderBox == true {

	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}

}

@if $fontSmooth == true {

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}

html, body {
	@include size(100%);
	font-size: $rootFontSize;
	font-family: $fontFamily;
}

body {
	background-color: #f3f3f3;
	overflow: hidden;
}

.inner {
	@include size(100%);
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
}
