<div class="card" data-card>
	<div class="card_slider">
		<section class="card_layout">
			<h1 class="card_title">Обычная карточка</h1>
			<div class="card_content">
				<p class="card_paragraph">Если бы тебе предложили любую пластическую операцию у лучшего хирурга бесплатно и без негативных последствий, то чтобы ты исправил?</p>
			</div>
			<footer class="card_footer">
				<div role="button" class="button card_button">
					<span class="button_text">Ок</span>
				</div>
			</footer>
		</section>

		<section class="card_layout">
			<h1 class="card_title">Справился?</h1>
			<div class="card_content">
				<p class="card_paragraph">Справился ли игрок <span data-bind="App.currentPlayer"></span> с заданием?</p>
			</div>
			<footer class="card_footer">
				<div role="button" class="button card_button">
					<span class="button_text">Да</span>
					<svg class="button_icon">
						<use xlink:href="#like">
					</svg>
				</div>
				<div role="button" class="button card_button">
					<span class="card_button_text">Нет</span>
					<svg class="card_button_icon">
						<use xlink:href="#dislike">
					</svg>
				</div>
			</footer>
		</section>

		<section class="card_layout">
			<h1 class="card_title">Следующий игрок</h1>
			<div class="card_content">
				<p class="card_paragraph">Победитель выбирает кто ходит следующим</p>
				<ul class="card_list">
					<!-- Cycle of all players exclude current -->
					<li class="card_item"></li>
				</ul>
			</div>
			<footer class="card_footer">
				<div role="button" class="button card_button">
					<span class="card_button_text">Ок</span>
				</div>
			</footer>
		</section>
	</div>
</div>