<script type="text/template" id="modal_rules">
	<div class="modal modal_rubrics" data-rules-modal>
		<h2 class="modal_title">Выбрать рубрику</h2>
		<section class="modal_content rules">
			<section class="rules_content">
			<p>
			<strong class="rules_gray">Серая</strong> - карточка означает что вы должны прочитать задание про себя и выполнять его так, чтобы игроки не догадывались что это задание.</p>
			<p><strong class="rules_yellow">Желтая</strong> - карточка означает коллективное задание, данное задание должны выполнять все. </p>
			<p><strong class="rules_special">Специальная</strong> - карточка означает. </p>
			<p> Носки, бижутерия не являются вещью. Один игрок не может выполнять действие или правду более {{=it.settings.streak}} раз подряд. Старайтесь выполнять все задачи и отвечать на все вопросы, иначе, игра будет не интересна. </p>
			</section>
		</section>
		<footer class="modal_action {{? it.started === true }} modal_action--single {{??}} modal_action--double{{?}}">
			{{? it.started === true }}
				<button type="button" data-modal-action="rules:close" class="button">
					<span class="button_text">Ок</span>
				</button>
			{{??}}
				<button type="button" data-modal-action="rules:prev" class="button">
					<span class="button_text">Назад</span>
				</button>
				<button type="button" data-modal-action="rules:start" class="button">
					<span class="button_text">Начать</span>
				</button>
			{{?}}
		</footer>
	</div>
</script>