<script type="text/template" id="modal_settings">
	<div class="modal">
		<h2 class="modal_title">Настройки</h2>
		<section class="modal_content modal_content--settings">
			<p class="modal_hint">Настройте игру по своему вкусу или оставьте по умолчанию.</p>
			<div class="settings">
				<span class="settings_name">Повторять вопросы:</span>
				<div class="settings_switcher settings_switcher--x2">
					<input class="settings_switcher_input" type="radio" name="repeat-content" id="repeat-content-true" value="true" {{? it.settings.repeatContent === true}}checked{{?}}>
					<label class="settings_switcher_element" for="repeat-content-true">Да</label>
					<input class="settings_switcher_input" type="radio" name="repeat-content" id="repeat-content-false" value="false" {{? it.settings.repeatContent === false || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="repeat-content-false">Нет</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
			<div class="settings">
				<span class="settings_name">Алкоголь:</span>
				<div class="settings_switcher settings_switcher--x2">
					<input class="settings_switcher_input" type="radio" name="alcohol" id="alcohol-true" value="true" {{? it.settings.alcohol === true || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="alcohol-true">Да</label>
					<input class="settings_switcher_input" type="radio" name="alcohol" id="alcohol-false" value="herma" {{? it.settings.alcohol !== true }}checked{{?}}>
					<label class="settings_switcher_element" for="alcohol-false">Нет</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
			<div class="settings">
				<span class="settings_name">Игра на очки:</span>
				<div class="settings_switcher settings_switcher--x2">
					<input class="settings_switcher_input" type="radio" name="score" id="score-true" value="true" {{? it.settings.score === true || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="score-true">Да</label>
					<input class="settings_switcher_input" type="radio" name="score" id="score-false" value="herma" {{? it.settings.score !== true }}checked{{?}}>
					<label class="settings_switcher_element" for="score-false">Нет</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
			<div class="settings">
				<span class="settings_name">Стрик (вопросов | действий):</span>
				<div class="settings_switcher settings_switcher--x3">
					<input class="settings_switcher_input" type="radio" name="streak" id="streak-2" value="true" {{? it.settings.streak === 2 || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="streak-2">2</label>
					<input class="settings_switcher_input" type="radio" name="streak" id="streak-3" value="herma" {{? it.settings.streak === 3 }}checked{{?}}>
					<label class="settings_switcher_element" for="streak-3">3</label>
					<input class="settings_switcher_input" type="radio" name="streak" id="streak-4" value="herma" {{? it.settings.streak === 4 }}checked{{?}}>
					<label class="settings_switcher_element" for="streak-4">4</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
			<div class="settings settings_cards">
				<span class="settings_name">Карточки:</span>
				<div class="settings_switcher settings_switcher--x3">
					<input class="settings_switcher_input" type="checkbox" name="cards" id="cards-gray" value="cards-gray" {{? it.settings.gray === true || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="cards-gray">Серая</label>
					<input class="settings_switcher_input" type="checkbox" name="cards" id="cards-yellow" value="cards-yellow" {{? it.settings.yellow === true || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="cards-yellow">Желтая</label>
					<input class="settings_switcher_input" type="checkbox" name="cards" id="cards-special" value="cards-special" {{? it.settings.special === true || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="cards-special">Специ&shy;альная</label>
				</div>
			</div>
			<div class="settings">
				<span class="settings_name">Игроки ходят:</span>
				<div class="settings_switcher settings_switcher--x2">
					<input class="settings_switcher_input" type="radio" name="randomPlayers" id="randomPlayers-true" value="randomPlayers-true" {{? it.settings.randomPlayers === false || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="randomPlayers-true">По очереди</label>
					<input class="settings_switcher_input" type="radio" name="randomPlayers" id="randomPlayers-false" value="randomPlayers-false" {{? it.settings.randomPlayers === true}}checked{{?}}>
					<label class="settings_switcher_element" for="randomPlayers-false">Случайно</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
			<div class="settings">
				<span class="settings_name">Умный выбор игроков-ассистентов:</span>
				<div class="settings_switcher settings_switcher--x2">
					<input class="settings_switcher_input" type="radio" name="smartpick" id="smartpick-true" value="smartpick-true" {{? it.settings.smartPick === true || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="smartpick-true">Да</label>
					<input class="settings_switcher_input" type="radio" name="smartpick" id="smartpick-false" value="smartpick-false" {{? it.settings.smartPick !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="smartpick-false">Нет</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
			<div class="settings">
				<span class="settings_name">Сексуальная ориентация:</span>
				<div class="settings_switcher settings_switcher--x3">
					<input class="settings_switcher_input" type="radio" name="sex" id="sex-hetero" value="hetero" {{? it.settings.sex === 'hetero' || it.started !== true}}checked{{?}}>
					<label class="settings_switcher_element" for="sex-hetero" checked>Гетеро</label>
					<input class="settings_switcher_input" type="radio" name="sex" id="sex-herma" value="herma" {{? it.settings.sex === 'homo'}}checked{{?}}>
					<label class="settings_switcher_element" for="sex-herma">Би</label>
					<input class="settings_switcher_input" type="radio" name="sex" id="sex-homo" value="homo" {{? it.settings.sex === 'herma'}}checked{{?}}>
					<label class="settings_switcher_element" for="sex-homo">Гомо</label>
					<div class="settings_switcher_toggler"></div>
				</div>
			</div>
		</section>
		<footer class="modal_action {{? it.started === true }} modal_action--single {{??}} modal_action--double{{?}}">
			{{? it.started === true }}
				<button type="button" data-rubrics-save class="button {{? !it.props.players.length >= 2}} js-disabled {{?}}">
					<span class="button_text">Сохранить</span>
				</button>
			{{??}}
				<button type="button" data-prevmodal class="button">
					<span class="button_text">Назад</span>
				</button>
				<button type="button" data-rubrics-save data-nextmodal class="button js-disabled">
					<span class="button_text">Далее</span>
				</button>
			{{?}}
		</footer>
	</div>
</script>