<div class="game">
	<div class="game_header">
		<div class="game_players_wrapper">
			<div class="game_players" data-game-players>
				
			</div>
		</div>
		<span class="game_sidebar_toggle" role="button" data-open-sidebar></span>
	</div>
	<div class="game_sidebar">
		<ul class="game_sidebar_list">
			<li class="game_sidebar_item"><a href="javascript:void(0);" data-new-game>Начать заново</a></li>
			<li class="game_sidebar_item"><a href="javascript:void(0);" data-show-modal="modal_players">Игроки</a></li>
			<li class="game_sidebar_item"><a href="javascript:void(0);" data-show-modal="modal_settings">Настройки</a></li>
			<li class="game_sidebar_item"><a href="javascript:void(0);" data-show-modal="modal_rubrics">Изменить рубрику</a></li>
			<li class="game_sidebar_item"><a href="javascript:void(0);" data-show-modal="modal_rules">Правила</a></li>
			<li class="game_sidebar_item"><a href="javascript:void(0);">Нашел ошибку</a></li>
			<li class="game_sidebar_item"><a href="javascript:void(0);">Поддержать проект</a></li>
		</ul>
	</div>
	<div class="game_view">
		<div class="game_view_container">
			<div class="game_view_name" data-currentplayer>Mihail</div>
			<div class="game_view_buttons">
				<span role="button" class="game_view_button game_view_button--truth" data-game="truth">Правда</span>
				<span class="game_view_buttons_separator">или</span>
				<span role="button" class="game_view_button game_view_button--action" data-game="action">Действие</span>
			</div>
		</div>
	</div>
</div>