<script type="text/template" id="stats">
	{{~it.players :player:index}}
		<div class="game_player">
			{{?player.gender === 'f'}}
				<span class="game_player_icon game_player_icon--female">
					<svg width="25" height="25">
						<use xlink:href="#female">
					</svg>
				</span>
			{{??}}
				<span class="game_player_icon game_player_icon--male">
					<svg width="25" height="25">
						<use xlink:href="#male">
					</svg>
				</span>
			{{?}}
			<span class="game_player_name">{{=player.name}}</span>
			{{?it.settings.score}}
				<span class="game_player_score {{=App.manager.PlayerController.getScoreClass(player.score)}}">{{=player.score}}</span>
			{{?}}
		</div>
	{{~}}
</script>