<div class="game_sidebar" data-sidebar>
	<ul class="game_sidebar_list">
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);" data-new-game>Начать заново</a></li>
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);" data-show-modal="modal_players">Игроки</a></li>
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);" data-show-modal="modal_settings">Настройки</a></li>
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);" data-show-modal="modal_rubrics">Изменить рубрику</a></li>
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);" data-show-modal="modal_rules">Правила</a></li>
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);">Нашел ошибку</a></li>
		<li class="game_sidebar_item"><a class="game_sidebar_link" href="javascript:void(0);">Поддержать проект</a></li>
	</ul>
</div>